<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Proceso de contacto</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Contáctenos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a class="page-scroll" href="#contact">¡Envíenos un mensaje!</a> Le enviaremos algunas preguntas que nos permitirán crear un presupuesto formal ajustado a sus necesidades. <a class="page-scroll" href="#pricing">Más información sobre nuestras tarifas aquí.</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Solicite un Presupuesto</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En un plazo máximo de dos días hábiles después de la recepción de su solicitud, le enviaremos un presupuesto formal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Contrate Nuestros Servicios</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Una vez que usted acepte nuestro presupuesto–y en un plazo máximo de dos días hábiles–, le enviaremos nuestro contrato de trabajo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Firme el Contrato</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Envíenos una copia firmada del contrato por correo electrónico.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><h4>Entrega</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
