  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#" data-toggle="modal" data-target="#privacy">Política de Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
          </div>

        <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100873978);
        (function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//static.getclicky.com/js';
          ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
        </script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100873978ns.gif" /></p></noscript>    </footer>

        <!-- Modal -->
          <div class="modal fade" id="privacy" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Política de Privacidad</h4>
                </div>
                <div class="modal-body">
                  <p>Esta Política de Privacidad expone las prácticas de privacidad de <u>interlylanguageservices.com</u>, se aplica únicamente a la información recolectada en este sitio web y le informa sobre lo siguiente:</p>
                  <ol>
                    <li>Qué información personal de identificación es requerida por este sitio web, su uso especifico y quién tiene acceso a ella.</li>
                    <li>Qué opciones tiene usted con respecto al uso de su información personal.</li>
                    <li>Los precedimientos de seguridad implementados para prevenir el uso indebido de su información.</li>
                    <li>Cómo corregir su información.</li>
                  </ol>
                  <p><b>Recolección, Uso e Intercambio de Información.</b>  Interly es el único propietario de la información recolectada en este sitio web. Además, Interly solamente recolecta y tiene acceso a la información que usted ofrezca voluntariamente vía correo electrónico u otro medio de contacto. Interly no vende ni alquila su información a terceros.</p>
                  <p>Interly usará su información para contactarlo a usted en caso de que usted lo haya solicitado. No compartiremos su información con terceros, a no ser que esto sea necesario para cumplir con su solicitud.</p>
                  <p>Interly podría contactarlo en el futuro vía correo electrónico para informarle sobre ofertas especiales, nuevos productos o servicios, o bien sobre cambios a esta política de privacidad, a no ser que usted solicite que no recibir dicha información.</p>
                  <p><b>Su Acceso a, y Control sobre, su Información.</b> Usted puede excluirse de cualquier contacto futuro en el momento que lo requiera.</p>
                  <p>Usted puede contactarnos vía correo electrónico y solicitar las siguientes acciones en cualquier momento:</p>
                  <ul>
                    <li>Ver qué información sobre usted tiene Interly, en caso de haberla</li>
                    <li>Cambiar/corregir cualquier información relacionada con usted</li>
                    <li>Solicitar la eliminación de cualquier información relacionada con usted</li>
                    <li>Transmitir su preocupación en relación con el uso que Interly hace de su información</li>
                  </ul>
                  <p><b>Seguridad.</b>  En Interly tomamos todas las precauciones para proteger sus datos personales. Al entregarnos información sensible por medio de este sitio web, su información es protegida tanto en línea como fuera de línea. Aquellos empleados que requieran usar su información para llevar a cabo un trabajo específico (por ejemplo: facturación, servicio al cliente) serán las únicas personas que puedan acceder a información personal de identificación. Los ordenadores/servidores que almacenan su información se encuentran en un entorno protegido.</p>
                  <p><b>Órdenes.</b> Interly solicita información personal en el formulario de solicitud de presupuesto y para contratar los servicios que provee. Esta información es utilizada con fines de facturación y para la firma del contrato de trabajo. Si en el proceso de entrega del servicio, facturación o pago de servicios surge algún tipo de problema, haremos uso de esta información para ponernos en contacto con usted.</p>
                  <p><b>Actualizaciones.</b> Nuestra Política de Privacidad puede ser objeto de cambios eventuales, los cuales serán publicados en esta sección del sitio web.</p>
                  <p><b>Si usted considera que Interly no está respetando las condiciones de esta Política de Privacidad, por favor contáctenos inmediatamente <u>vía correo electrónico.</u></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
