<!-- Pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tarifas</h2>
                    <h3 class="section-subheading text-muted">En la siguiente tabla presentamos––como referencia––nuestras tarifas mínimas.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">Traducciones</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Idioma</th>
                        <th>Estándar</th>
                        <th>Académico&nbsp;/<br>Técnico</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">Inglés a Español</td>
                        <td class="active">12 yenes<sup>*</sup> -</td>
                        <td class="active">19 yenes<sup>*</sup> -</td>
                      </tr>
                      <tr>
                        <td>Español a Inglés</td>
                        <td>12 yenes<sup>*</sup> -</td>
                        <td>19 yenes<sup>*</sup> -</td>
                      </tr>
                      <tr>
                        <td class="active">Japonés a Inglés</td>
                        <td class="active">11 yenes<sup>**</sup> -</td>
                        <td class="active">22 yenes<sup>**</sup> -</td>
                      </tr>
                      <tr>
                        <td>Japonés a Español</td>
                        <td>12 yenes<sup>**</sup> -</td>
                        <td>23 yenes<sup>**</sup> -</td>
                      </tr>
                      <tr>
                        <td class="active">Inglés a Japonés</td>
                        <td class="active">18 yenes<sup>*</sup> -</td>
                        <td class="active">24 yenes<sup>*</sup> -</td>
                      </tr>
                      <tr>
                        <td>Español a Japonés</td>
                        <td>19 yenes<sup>*</sup> -</td>
                        <td>25 yenes<sup>*</sup> -</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>Por palabra en el texto original. <sup>**</sup>Por caracter en el texto original.<br>Todos los servicios requieren un cargo mínimo de 4.000 yenes.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">Corrección de manuscritos</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Idioma</th>
                        <th>Estándar</th>
                        <th>Académico&nbsp;/<br>Técnico</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">Inglés</td>
                        <td class="active">4 yenes<sup>*</sup> -</td>
                        <td class="active">6 yenes<sup>*</sup> -</td>
                      </tr>
                      <tr>
                        <td>Español</td>
                        <td>5 yenes<sup>*</sup> -</td>
                        <td>7 yenes<sup>*</sup> -</td>
                      </tr>
                      <tr>
                        <td class="active">Japonés</td>
                        <td class="active">7 yenes<sup>*</sup> -</td>
                        <td class="active">9 yenes<sup>*</sup> -</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>Por palabra.<br>Todos los servicios requieren un cargo mínimo de 4.000 yenes.</p>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">Asesorías</h4>
                      Cada contrato para asesorías es personalizado. <a class="page-scroll" href="#contact">Por favor, contáctenos para obtener más información.</a>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

        </div>
    </section>
