<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-files-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Traducciones</h4>
                    <p class="text-muted">En Interly tenemos más de una década de experiencia en el campo de las humanidades, traduciendo textos académicos, de negocios, educativos y técnicos, en japonés, inglés y español. <a class="page-scroll" href="#about">Más información aquí.</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-strikethrough fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Corrección de manuscritos</h4>
                    <p class="text-muted">Hemos ayudado a profesionales y académicos líderes en el campo de las humanidades a transmitir sus ideas de manera concisa y bien estructurada. <a class="page-scroll" href="#about">Más información aquí.</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asesorías</h4>
                    <p class="text-muted">Nuestro servicio de <i>coaching</i> lingüístico y cultural le ayudará a comunicarse de forma eficaz. El objetivo: ofrecerle el conocimiento necesario para desenvolverse exitosamente en contextos interculturales. <a class="page-scroll" href="#pricing">Más información aquí.</a></p>
                </div>
            </div>
        </div>
    </section>
