<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Quiénes somos?</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">Español, Inglés, Japonés</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Interly es un equipo de traductores independientes, educadores y autores que ofrece un servicio personalizado y de alta calidad en base a un trato cercano y respetuoso con el cliente. Como equipo, nos sentimos profundamente apasionados por la escritura, las lenguas y el aprendizaje, y nos comprometemos seriamente a preservar la intención y el estilo del autor. <a class="page-scroll" href="#testimonials">Lee lo que nuestros clientes opinan de nosotros.</a></p>
                </div>
            </div>
            <!-- testimonials -->
            <div class="row" id="testimonials">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>            
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
                <p>
                  <p class="testimonial">“Confío plenamente en las <b>habilidades</b> y el sentido de la <b>responsabilidad</b> de Interly. Seleccionan cada <b>palabra y expresión con precisión</b>, utilizan un <b>registro adecuado</b> y <b>respetan las fechas límites</b>.</p>
                  <p class="testimonial">Si necesito un buen servicio de traducción o edición, especialmente en el campo académico, yo no dudo en contactarlos porque <b>siempre he considerado su trabajo más que satisfactorio</b>.”</p>
                  <p class="cite">Noritaka Fukushima, PhD<br>Profesor del Departamento de Estudios Hispánicos<br>Universidad de Estudios Extranjeros de Kobe, Japón</p>
                </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
              <p>
                <p class="testimonial">“Contraté a Interly para la corrección de un artículo en español. Fueron muy <b>respetuosos</b> a la hora de corregir el texto y me <b>sugirieron expresiones alternativas</b>. Yo llevaba mucha prisa porque me quedaban muy pocos días antes de mi entrega, y ellos <b>fueron de gran ayuda</b> en ese sentido.</p>
                <p class="testimonial">Si necesito un servicio de corrección para algun texto en español, <b>ciertamente contrataré sus servicios otra vez</b>.”</p>
                <p class="cite">M.O.<br>Doctor en Ciencias Sociales</p>
              </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <!-- testimonials -->
        </div>
    </section>
