<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ワークフロー</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">お問い合わせ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a class="page-scroll" href="#contact">メールを送信してください！</a>お客様のニーズに合うお見積が作成できるために、幾つかの質問を送ります。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">お見積もりを請求</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">お客様からの返事を受けてから、２日以内にお見積もりを送信します。<a class="page-scroll" href="#pricing">料金についてもっとご存知したい場合、ここにクリックしてください。</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Interlyのサービスを雇用</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">お見積を認めてから、２日以内にサービスの解約を送信します。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">解約</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">解約をサインしてから、メールで送信してください。原稿の修正・翻訳をすぐにしだします！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>原稿は
                                    <br>できて
                                    <br>います</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
