<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">お手続きの流れ</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">お問い合わせ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a class="page-scroll" href="#contact">メールを送信してください！</a>お客様のニーズに合うお見積を作成するために、幾つかの質問にお答えください。<a class="page-scroll" href="#pricing">詳しい料金の体系を知りたい方はここをクリックしてください。</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">お見積</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">お客様からのお答えをいただいてから、２日以内にお見積書をお送りします。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Interlyとの契約</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">お見積に合意いただいて有効期限以内にその旨をご回答ください。２日以内にサービスの契約をお送りします。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">契約</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">契約書に署名の上、ご返送ください。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><h4>完成</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
