  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#" data-toggle="modal" data-target="#privacy">プライバシーポリシー</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
          </div>

        <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100873978);
        (function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//static.getclicky.com/js';
          ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
        </script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100873978ns.gif" /></p></noscript>    </footer>

        <!-- Modal -->
          <div class="modal fade" id="privacy" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">プライバシーポリシー</h4>
                </div>
                <div class="modal-body">
                  <p>本プライバシーポリシーは、<u>interlylanguageservices.com</u>のプライバシー対策を定め、当ホームページにおける個人情報のみ適用され、以下のとおりに通知します：</p>
                  <ol>
                    <li>当ホームページにおいてお客さまからお預かりした個人情報、その使用対策、共有対策。</li>
                    <li>個人情報選択肢。</li>
                    <li>お客様の個人情報を濫用するために導入しているセキュリティ手順。</li>
                    <li>個人情報を修正方法。</li>
                  </ol>
                  <p><b></b>情報の収集・利用・開示</b> 当ホームページにおいてお預かりした個人情報を所有するのはInterlyである。Interlyはお客様がメール、または他の連絡手段を通じて自主的で直接に提供した個人情報のみアクセス・収集する。お客様の個人情報の販売、レンタルを行 わない。</p>
                  <p>Interlyはお客様の提供した個人情報をお尋ねいたす理由はお客様がリクエストする場合、連絡をとることである。お客様のリクエストを満たす場合を除き、個人情報を第三者に提供しません。</p>
                  <p>お客様の情報を使用しないように要求する場合を除き、プロモーション、新しい商品とサービス、また当プライバシーポリシーの変更について定期的にメールでご連絡する。</p>
                  <p><b>個人情報の管理と入手</b>  Interlyからのすべての連絡を禁止することはいつでもできる。</p>
                  <p>メールで連絡して、以下のとおりいつでもできる：</p>
                  <ul>
                    <li>お客様の個人情報（ある場合）を見る。</li>
                    <li>お客様の個人情報を変更や訂正する。</li>
                    <li>お客様の個人情報を削除させる。</li>
                    <li>お客様の個人情報の取り扱いについての懸念 が あるのを述べる。</li>
                  </ul>
                  <p><b>セキュリティ</b> Interlyではお客様の個人情報を守るための予防策を講じる。サイトを通じて情報を投稿される際は、お客様の情 報はオンライン､オフラインの両方において保護され ます。個人を特定できる情報にアクセスすることが許されるのは、特定の作業を行うためにその情報を必要とする従業員だけです（請求事務担当、カスタマーサービス担当など）。個人情報を取得保存するサーバーは安全な環境に置かれています。</p>
                  <p><b>受注</b> 見積請求フォームを通じて個人情報のご 提供を求める。この情報はご注文を履行するため、雇用契約締結ため、課金目的に使用されます。納品、請求、支払いに関するのトラブルに遭った場合にこのご情報を通じて連絡する。</p>
                  <p><b>更新</b> この規定が変更することがあり、すべての更新はこのページに記します。</p>
                  <p>弊社がこのこの規定を遵守していないと感じた場合は直ちに弊社営業所にご連絡ください。</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              </div>
