  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#" data-toggle="modal" data-target="#privacy">個人情報保護</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
          </div>

        <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100873978);
        (function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//static.getclicky.com/js';
          ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
        </script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100873978ns.gif" /></p></noscript>    </footer>

        <!-- Modal -->
          <div class="modal fade" id="privacy" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">個人情報保護</h4>
                </div>
                <div class="modal-body">
                  <p>Interly Language Services（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</p>
                  <p><b>個人情報の管理</b><br>当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
                  <p><b>個人情報の利用目的</b><br>お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールのご送付に利用いたします。</p>
                  <p><b>個人情報の第三者への開示・提供の禁止</b><br>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。 </p>
                  <ul>
                    <li>お客さまの同意がある場合</li>
                    <li>法令に基づき開示することが必要である場合</li>
                  </ul>
                  <p><b>個人情報の安全対策</b><br>当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
                  <p><b>ご本人の照会</b><br>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
                  <p><b>法令、規範の遵守と見直し</b><br>当社は、保有する個人情報に関して適用される法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              </div>
