<!-- Pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">料金体系</h2>
                    <h3 class="section-subheading text-muted">参考として、Interlyの最低料金を記載しています。</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">翻訳</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>言語</th>
                        <th>通常テキスト</th>
                        <th>学術／専門言語のテキスト</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">英 → 西</td>
                        <td class="active">¥15<sup>*</sup>〜</td>
                        <td class="active">¥22<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td>西 → 英</td>
                        <td>¥15<sup>*</sup>〜</td>
                        <td>¥22<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td class="active">和 → 英</td>
                        <td class="active">¥14<sup>**</sup>〜</td>
                        <td class="active">¥25<sup>**</sup>〜</td>
                      </tr>
                      <tr>
                        <td>和 → 西</td>
                        <td>¥15<sup>**</sup>〜</td>
                        <td>¥26<sup>**</sup>〜</td>
                      </tr>
                      <tr>
                        <td class="active">英 → 和</td>
                        <td class="active">¥21<sup>*</sup>〜</td>
                        <td class="active">¥27<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td>西 → 和</td>
                        <td>¥22<sup>*</sup>〜</td>
                        <td>¥28<sup>*</sup>〜</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>オリジナル原稿の１単語あたりの料金。<sup>**</sup>オリジナル原稿の一字あたりの料金。<br>単語数・文字数にかからわず、最低料金は￥４，９００。</p>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">テキスト修正</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>言語</th>
                        <th>通常テキスト</th>
                        <th>学術／専門言語のテキスト</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">英</td>
                        <td class="active">¥7<sup>*</sup>〜</td>
                        <td class="active">¥9<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td>西</td>
                        <td>¥8<sup>*</sup>〜</td>
                        <td>¥10<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td class="active">和</td>
                        <td class="active">¥10<sup>*</sup>〜</td>
                        <td class="active">¥12<sup>*</sup>〜</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>単語当たりの料金。<br>単語数にかからわず、最低料金は￥４，９００。</p>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">コンサルティング</h4>
                      コンサルティングは外国語のレッスン、異文化・異言語能力のコーチング、商談通訳、ナレーションなどを含め、お手伝いする内容により費用が異なります。<a class="page-scroll" href="#contact">詳しくはお問い合わせください。</a>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

        </div>
    </section>
