<!-- Pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">料金プラン</h2>
                    <h3 class="section-subheading text-muted">参照情報として、次の表においてInterlyの最低料金を記載します。</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">翻訳</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>言語</th>
                        <th>スタンダード</th>
                        <th>学術／専門言語</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">英 → 西</td>
                        <td class="active">¥12<sup>*</sup>〜</td>
                        <td class="active">¥19<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td>西 → 英</td>
                        <td>¥12<sup>*</sup>〜</td>
                        <td>¥19<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td class="active">和 → 英</td>
                        <td class="active">¥11<sup>**</sup>〜</td>
                        <td class="active">¥22<sup>**</sup>〜</td>
                      </tr>
                      <tr>
                        <td>和 → 西</td>
                        <td>¥12<sup>**</sup>〜</td>
                        <td>¥23<sup>**</sup>〜</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>オリジナル原稿においての単語当たりの料金<sup>**</sup>オリジナル原稿においての漢字当たりの料金<br>格サービスは￥４，０００の最低料金を依頼します。</p>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">原稿の修正</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>言語</th>
                        <th>スタンダード</th>
                        <th>学術／専門言語</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">英</td>
                        <td class="active">¥4<sup>*</sup>〜</td>
                        <td class="active">¥6<sup>*</sup>〜</td>
                      </tr>
                      <tr>
                        <td>西</td>
                        <td>¥5<sup>*</sup>〜</td>
                        <td>¥7<sup>*</sup>〜</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted"><sup>*</sup>単語当たりの料金<br>格サービスは￥４０００の最低料金を依頼します。</p>
                </div>
            </div>
        </div>
    </section>
