<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">サービス内容</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-files-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">翻訳</h4>
                    <p class="text-muted">Interlyは人文科学分野において、日本語・英語・スペイン語の学術、業務、技術関連のテキスト翻訳に１０年以上の経験があります。<a class="page-scroll" href="#about">詳しくはこちら。</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-strikethrough fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">テキスト修正</h4>
                    <p class="text-muted">人文科学分野の研究者と専門家であるあなたの考えや意見を簡潔で効果的に表現することをお手伝いします。<a class="page-scroll" href="#about">詳しくはこちら。</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">コンサルティング</h4>
                    <p class="text-muted">異文化・異言語の世界において、あなたの持つ能力をフルに発揮できるようお手伝いします。<a class="page-scroll" href="#about">詳しくはこちら。</a></p>
                </div>
            </div>
        </div>
    </section>
