<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interlyのスタッフ</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">日本語、英語、スペイン語</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Interlyとは緊密なコミュニケーションによって、お客様に満足していただけるサービスを提供する翻訳家、教育専門家、執筆家のチームです。私たちは言語の世界で創作活動、教育活動に情熱を持って取り組んでいます。お客様のご期待にお応えすることをお約束いたします。<a class="page-scroll" href="#testimonials">私たちのサービスについて、お寄せいただきましたご意見を下記に掲載いたします。良かったらご覧ください。</a></p>
                </div>
            </div>
            <!-- testimonials -->
            <div class="row" id="testimonials">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>            
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
                <p>
                  <p class="testimonial">“Interlyの専門的な<b>スキル</b>と<b>責任感</b>を信頼しています。<br><b>単語を的確に</b>選択し、<b>使用域の適切に</b>表現し、<b>締め切りに間に合わせてくれます</b>。</p>
                  <p class="testimonial">良い翻訳か修正のサービスを必要とする場合、特に学術的な文章なら、私はためらわずInterlyを選びます。<br></b><b>Interlyは優れたサービスを提供してくれると考えています</b>。”</p>
                  <p class="cite">神戸市外国語大学教授<br>言語学博士<br>福嶌教隆</p>
                </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
              <p>
                <p class="testimonial">“スペイン語で執筆した論文の校正をInterlyにお願いしました。<b>丁寧なチェック</b>と、アカデミックで<b>適切な表現に関する提案</b>を受けることができました。<br>また、締切まで時間があまりなかったところを、急ぎ仕事を終えていただき、<br><b>大変助かりました</b>。</p>
                <p class="testimonial">今後もスペイン語の校正を必要とする際には、<br><b>ぜひInterlyにお願いする</b>つもりです。”</p>
                <p class="cite">社会学博士<br>M.O.</p>
              </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <!-- testimonials -->
        </div>
    </section>
