<!-- Pricing Section -->
    <section id="pricing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">Translation</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Language</th>
                        <th>Standard</th>
                        <th>Academic&nbsp;/<br>Technical</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">English to Spanish</td>
                        <td class="active">12 yen* -</td>
                        <td class="active">19 yen* -</td>
                      </tr>
                      <tr>
                        <td>Spanish to English</td>
                        <td>12 yen* -</td>
                        <td>19 yen* -</td>
                      </tr>
                      <tr>
                        <td class="active">Japanese to English</td>
                        <td class="active">11 yen** -</td>
                        <td class="active">22 yen** -</td>
                      </tr>
                      <tr>
                        <td>Japanese to Spanish</td>
                        <td>12 yen** -</td>
                        <td>23 yen** -</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted">*Per word in the original text. **Per character in the original text.<br>All services require a minimum charge of 4,000 yen.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4 class-"subheading">Copy-editing</h4>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Language</th>
                        <th>Standard</th>
                        <th>Academic&nbsp;/<br>Technical</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="active">English</td>
                        <td class="active">4 yen* -</td>
                        <td class="active">6 yen* -</td>
                      </tr>
                      <tr>
                        <td>Spanish</td>
                        <td>5 yen* -</td>
                        <td>7 yen* -</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted">*Per word.<br>All services require a minimum charge of 4,000 yen.</p>
                </div>
            </div>
        </div>
    </section>
