<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are a team of freelance translators, educators and authors who provide personalized texts in close communication with you. We feel impassioned by writing, languages and learning, and are committed to preserving your intention and voice.</p>
                </div>
            </div>
            <!-- testimonials -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
                <p>
                  <p class="testimonial">“I trust Interly's professional <b>skills</b> and sense of <b>responsibility</b>; they choose their <b>words and expressions precisely</b>, use an <b>appropriate register</b>, and <b>respect deadlines</b>.</p>
                  <p class="testimonial">If I need a good translation or copy-editing work, especially in the academic field, I don't hesitate to contact them because <b>I have always found their work more than satisfactory</b>.”</p>
                  <p class="cite">Noritaka Fukushima, PhD<br>Full professor, Department of Spanish Studies<br>Kobe City University of Foreign Studies, Japan</p>
                </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
              <p>
                <p class="testimonial">“I hired Interly to correct an article in Spanish. They were very <b>respectful</b> in how they checked it, and they also <b>proposed alternative expressions</b>. I was very much in a hurry because there were only a few days before my deadline, and <b>they were a great help</b> in that regard.</p>
                <p class="testimonial">If I need any Spanish copy-edition service, <b>I would certainly hire Interly again</b>.”</p>
                <p class="cite">M.O.<br>PhD in Social Sciences</p>
              </p>
              </div>
              <div class="col-md-2 text-right"></div>
            </div>
            <!-- testimonials -->
        </div>
    </section>
