<!-- Clients Section -->
    <section id="testimonials" class="bg-light-gray">
        <div class="container">
            <div class="row">
              <div class="col-md-2 text-right"></div>
              <div class="col-md-8 text-center">
                <p>
                  <p class="testimonial">“I trust Interly’s professional skills and sense of responsibility; they choose their words and expressions precisely, use an appropriate register, and respect deadlines.</p>
                  <p class="testimonial">If I need a good translation or copy-editing work, especially in the academic field, I don’t hesitate to contact them because I have always found their work more than satisfactory.”</p>
                  <p class="cite">Noritaka Fukushima, PhD<br>Full Professor<br>Kobe City University of Foreign Studies, Japan</p>
                </p>
                <p>
                  <p class="testimonial">“I really liked that they were very respectful in how they checked my text and that they proposed to me alternative expressions.</p>
                  <p class="testimonial">Also, I had only a few days before my deadline so I was a little worried, and they were of a great help in that regard. If I need any translation to English or Spanish, I would certainly hire their services again.”</p>
                  <p class="cite">Miho Z.<br>Professor of Spanish<br>PhD in Anthropology</p>
                </p>
              </div>
              <div class="col-md-2 text-right"></div>
          </div>
        </div>
    </section>
