<!DOCTYPE html>
<html>

  {% include es_head.html %}


    <body id="page-top" class="index">

    {% include es_header.html %}
    {% include es_services.html %}
    {% include es_about.html %}
    {% include es_pricing.html %}
    {% include es_team.html %}

    {% if site.contact == "static" %}
    {% include es_contact_static.html %}
    {% else %}
    {% include es_contact.html %}
    {% endif %}

    {% include es_footer.html %}
    {% include es_modals.html %}
    {% include es_js.html %}

    </body>
</html>
