<!DOCTYPE html>
<html>

  {% include ja_head.html %}


    <body id="page-top" class="index">

    {% include ja_header.html %}
    {% include ja_services.html %}
    {% include ja_about.html %}
    {% include ja_pricing.html %}
    {% include ja_team.html %}

    {% if site.contact == "static" %}
    {% include ja_contact_static.html %}
    {% else %}
    {% include ja_contact.html %}
    {% endif %}

    {% include ja_footer.html %}
    {% include ja_modals.html %}
    {% include ja_js.html %}

    </body>
</html>
